<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>All Orders - FOODOOR</title>
</head>
<body class="black-gradient">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FOODOOR - ADMIN PANEL</a>
            <div class="buttons d-flex gap-4">
                <form action="/admin">
                    <button type="submit" class="btn btn-outline-success">Admin Panel</button>
                </form>
                <form action="/all-payments">
                    <button type="submit" class="btn btn-outline-info">Payments</button>
                </form>
                <form action="/api/logout" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="info container d-flex justify-content-center align-items-center w-100 m-0 flex-wrap gap-4 mx-auto">   
        <% orders.forEach(order =>{ %>
            <div class="card w-100 p-5 bg-secondary bg-opacity-10 blur-card text-success">
                <div class="title text-center">
                    <div class="h1 fw-bolder">Order #<%= order.id %></div>
                    <div class="h4">Status : <%= order.current_status %> </div>
                    <div class="h4">Customer ID : <%= order.customer_id %></div>
                    <div class="h4">Table Number : <%= order.table_number %></div>
                    <div class="h4">Instructions by Customer : "<%= order.instructions %>"</div>
                </div>
                <div class="d-flex column-gap-4">
                    <form action="/api/delete-order/<%= order.id %>" method="POST" class="d-flex column-gap-4">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                <% if(order.current_status === "pending"){ %>
                    <form action="/gen-payment/<%= order.id %>" method="POST">
                        <button type="submit" class="btn btn-outline-info">Accept the order and generate the bill!</button>
                    </form>
                <% } else { %>
                    <a href="#" class="btn btn-outline-secondary">Accepted!</a>                   
                <% } %>
                </div>
            </div>
        <% }); %> 
    </div>
</body>
</html>