<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>All Payments - FOODOOR</title>
</head>
<body class="black-gradient">
    <%- include('partials/navbar') %>
    <div class="info container d-flex justify-content-center align-items-center w-100 m-0 flex-wrap gap-4 mx-auto">   
        <% if (msg){ %>
        <div class="alert alert-success w-100 text-center" role="alert">
            <%= msg %>
        </div>
        <% } %>    
        <% payments.forEach(payment =>{ %>
            <div class="card w-100 p-5 bg-secondary bg-opacity-10 blur-card text-success">
                <div class="title text-center">
                    <div class="h1 fw-bolder">Payment #<%= payment.id %></div>
                    <div class="h4">Customer ID : <%= payment.user_id %> </div>
                    <div class="h4">Total Amount : ₹<%= payment.Total_amount %></div>
                    <% if (payment.payment_status === "pending"){ %>
                    <div class="h4">Status : "<span class="fw-bolder text-danger"><%= payment.payment_status %></span>"</div>
                    <% } else if (payment.payment_status === "completed"){ %>
                    <div class="h4">Status : "<span class="fw-bolder"><%= payment.payment_status %></span>"</div>
                    <% } %>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                    <form action="/api/delete-payment/<%= payment.id %>" method="POST">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                    <%if (payment.payment_status === "completed"){ %>
                        <form action="/gen-bill/<%= payment.id %>" method="POST">
                            <button type="submit" class="btn btn-outline-info">Generate Bill</button>
                        </form>
                        <% } %>    
                </div>
            </div>
        <% }); %> 
    </div>
</body>
</html>