<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cart - FOODOOR</title>
</head>
<body class="warm-gradient">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FOODOOR</a>
            <div class="buttons d-flex gap-4">
                <form action="/home">
                    <button type="submit" class="btn btn-outline-primary">Home</button>
                </form>
                <form action="/categories">
                    <button type="submit" class="btn btn-outline-warning">Categories Section</button>
                </form>
                <form action="/payment">
                    <button type="submit" class="btn btn-outline-success">Payment</button>
                </form>
                <form action="/api/logout" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="h1 fw-bolder text-center">
        Your Cart!
    </div>
    <div class="orderedItems container">
        <% for(let i=0; i< orderedItems.length; ++i){ %>
            <div class="card w-80 p-5 bg-secondary bg-opacity-10 blur-card">
                <div>
                   Ordered item id: <%= orderedItems[i].id %>
                </div>
                <div>
                    Product Name: <% for(let j=0 ; j < products.length;j++){ if (products[j].id === orderedItems[i].product_id){ %><%= products[j].product_name %><% }} %>
                </div>
                <div>
                    Quantity : <%= orderedItems[i].quantity %>
                </div>
                <form action="/remove-from-cart/<%= orderedItems[i].id %>" method="POST">
                    <button type="submit" class="btn btn-danger">Remove this from cart!</button>
                </form>
            </div>
        <% }%>
    </div>
    <form action="/api/cart/order" class="container mt-5 mb-5 d-flex flex-column row-gap-2" method="POST">
        <label for="table<%= orderedItems.id%>">Enter your table number</label>
        <input class="w-25 input-color form-control border-dark border-2" id="table<%= orderedItems.id%>" type="number" name="table_number" min="1" max="50" step="1" required>
        <label for="instructions<%= orderedItems.id%>">Specific instructions for Chef!</label>
        <input class="w-100 input-color form-control border-dark border-2" id="instructions<%= orderedItems.id%>" type="textarea" name="instructions">
        <button type="submit" class="btn btn-success form-control" >Order Now!</button>
    </form>
</body>
</html>