<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Chef Home - FOODOOR</title>
</head>
<body class="warm-gradient">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FOODOOR</a>
            <div class="buttons d-flex gap-4">
                <form action="/add-food">
                    <button type="submit" class="btn btn-outline-info">Add Food</button>
                </form>
                <form action="/categories">
                    <button type="submit" class="btn btn-outline-warning">Categories Section</button>
                </form>
                <form action="/api/logout" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="order-list container d-flex justify-content-center align-items-center w-100 m-0 flex-wrap gap-4 mx-auto">
        <% if(orders.length !==0 && payments.length !== 0){ %>
            <div class="h1 fw-bolder">Orders!</div>
        <% let i=0; %>
        <% orders.forEach(order =>{ %>
            <div class="card w-100 p-5 bg-secondary bg-opacity-10 blur-card row-gap-2">
                <div>
                    Order-id : <%= order.id %>
                </div>
                <div>
                    Customer-id: <%= order.customer_id %>
                </div>
                <div>
                    Table Number : <%= order.table_number %>
                </div>
                <div>
                    Specific Instructions : <%= order.instructions %>
                </div>
                <div>
                    STATUS : <span class="fw-bolder border border-3 border-primary rounded"> <%= order.current_status %> </span>
                </div>
                <div>
                    Payment Status : <span class="fw-bolder border border-3 border-primary rounded"> <%= payments[i].payment_status %> </span>
                </div>
                <div>
                    <form action="/api/order-done/<%= order.id %>" method="POST">
                        <% if(order.current_status === "delivered"){ %>
                        <a class="btn btn-secondary">Delivered!</a>
                        <% }else if (payments[i].payment_status === "completed") { %>
                        <button type="submit" class="btn btn-success">Mark as Done!</button>
                        <% } %>   
                    </form>
                </div>
            </div>
        <% i++; %>
        <% }) %>
        <% } else { %>
            <div class="h2 fw-bolder">No Orders Yet!</div>
        <% } %>
    </div>
</body>
</html>