<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home - FOODOOR</title>
</head>
<body class="warm-gradient">
    <%- include('partials/navbar') %>
    <div class="container mt-5 text-center">
        <div class="h1 fw-bolder">Welcome to FOODOOR! <span><%= user.username %></span></div>
        <div>Your one-stop solution for food delivery.</div>
        <div class="h2 fw-bold">MENU!</div>
    </div>
    <% if (msg){ %>
    <div class="alert alert-success text-center">
    <%= msg %>
    </div>
    <% } %>
    <div class="search-bar text-center container">
        <form action="/home" class="d-flex flex-column align-items-center row-gap-2 mb-5">
            <input type="text" name="search" placeholder="Search for your product" class="w-50 border-3 input-color-2 form-control border-dark">
            <div class="form-group">
                <label for="price" class="fw-bolder">Price Filter:</label>
                <select name="price" id="price" class="rounded input-color fw-bold">
                    <option value="all">All</option>
                    <option value="0-100">0-100</option>
                    <option value="100-200">100-200</option>
                    <option value="200-500">200-500</option>
                    <option value="500-1000">500-1000</option>
                    <option value="1000+">1000+</option>
                </select>
            </div>
            <button type="submit" class="btn btn-info form-control w-25">Search</button>
        </form>
    </div>
    <% if (!searchedProducts){ %>
    <div class="d-flex justify-content-center align-items-center w-100 m-0 flex-wrap gap-4 mx-auto">
        <% products.forEach(product => { %>
            <div class="card w-25 p-5 bg-secondary bg-opacity-10 blur-card">
            <div class="title text-center">
                <div class="h2 fw-bolder"><%= product.product_name %></div>
                <div class="h4">Price: ₹<%= product.price %></div>
                <div class="h4">Category: <%= product.category %></div>
            </div>
            <div class="image w-100 min-height">
                <img class="w-100 object-fit-cover" src='<%= product.image_url %>' alt="<%= product.product_name %> image">
            </div>
            <div class="form fw-bolder h5 d-flex flex-column row-gap-4 mt-3">
                <form class="text-center" action="/add-one-to-cart/<%= product.id %>" method="POST">
                    <button type="submit" class="btn btn-primary w-75 fw-bolder">Order one Now!</button>
                </form>
                <form class="d-flex flex-wrap justify-content-center align-items-center gap-3" action="/add-to-cart/<%= product.id %>" method="POST">
                    <label for="quantity">Quantity:</label>
                    <input name="quantity" class="form-control w-25 min-width input-color border-dark border-2 fw-bolder" id="quantity" type="number" min="1" max="100" required>
                    <button type="submit" class="btn btn-warning w-50 fw-bolder border-dark">Add to Cart!</button>
                </form>
            </div>
            </div>
        <% }) %>
    </div>
    <% } else { %>
        <form action="/home" class="d-flex flex-column align-items-center row-gap-2 mb-5">
            <button type="submit" class="btn btn-primary form-control w-25">Back</button>
        </form>
        <% if (searchedProducts.length === 0 && query !== ''){ %>
            <% if (range[0]){ %>
            <div class="text-center h2 fw-bolder">
                Your search "<%= query %>" between <%= range[0] %> and <%= range[1] %> was not found!
            </div>
            <% }else{ %>
            <div class="text-center h2 fw-bolder">
                Your search "<%= query %>" was not found!
            </div>   
            <% } %>
        <% }else{ %>
    <div class="d-flex justify-content-center align-items-center w-100 m-0 flex-wrap gap-4 mx-auto">
        <% searchedProducts.forEach(product => { %>
            <div class="card w-25 p-5 bg-secondary bg-opacity-10 blur-card">
            <div class="title text-center">
                <div class="h2 fw-bolder"><%= product.product_name %></div>
                <div class="h4">Price: ₹<%= product.price %></div>
                <div class="h4">Category: <%= product.category %></div>
            </div>
            <div class="image w-100">
                <img class="w-100 object-fit-cover min-height" src='<%= product.image_url %>' alt="<%= product.product_name %> image">
            </div>
            <div class="form fw-bolder h5 d-flex flex-column row-gap-4 mt-3">
                <form class="text-center" action="/add-one-to-cart/<%= product.id %>" method="POST">
                    <button type="submit" class="btn btn-primary w-75 fw-bolder">Order one Now!</button>
                </form>
                <form class="d-flex justify-content-center align-items-center gap-3" action="/add-to-cart/<%= product.id %>" method="POST">
                    <label for="quantity">Quantity:</label>
                    <input name="quantity" class="form-control w-25 input-color border-dark border-2 fw-bolder" id="quantity" type="number" min="1" max="100" value="1" required>
                    <button type="submit" class="btn btn-warning w-50 fw-bolder border-dark">Add to Cart!</button>
                </form>
            </div>
            </div>
        <% }) %>
    </div>           
        <% } %>
    <% } %>
</body>
<script>
    document.querySelector('form[action="/home"]').addEventListener('submit', function (e) {
        const input = this.querySelector('input[name="search"]');
        if (input) {
            input.value = encodeURIComponent(input.value.trim());
        }
    });
</script>
</html>