<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Orders - FOODOOR</title>
</head>
<body class="warm-gradient">
    <%- include('partials/navbar') %>
    <% if(payment){ %>
    <div class="h1 fw-bolder text-center mt-5">
        Bill Details for Order # <%= orderId %>!
    </div>
    <div class="payment-details d-flex flex-column align-items-center justify-content-center w-100 m-0 flex-wrap gap-4 mx-auto mt-5">
        <div class="card w-100 p-5 bg-secondary bg-opacity-10 blur-card container row-gap-2">
            <div>
                Payment ID: <%= payment.id %>
            </div>
            <div>
                Order ID: <%= payment.order_id %>
            </div>
            <div>
                Amount Paid: ₹<%= payment.Total_amount %>
            </div>
            <div>
                Payment Status: <span class="fw-bolder border border-3 border-primary rounded"><%= payment.payment_status %></span>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="h1 fw-bolder text-center mt-5">
        No payment details found for Order # <%= orderId %>!
    </div>
    <% } %>
</body>
</html>