<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(extra){ %>
        <link rel="stylesheet" href="../style.css">
    <% }else{ %>
        <link rel="stylesheet" href="style.css">
        <% } %>
    <title>Users - FOODOOR</title>
</head>
<body class="black-gradient">
    <%- include('partials/navbar') %>
    <% if (users.length > 0){ %>
    <div class="info container d-flex justify-content-center align-items-center w-100 m-0 flex-wrap gap-4 mx-auto">   
        <% users.forEach(user =>{ %>
            <div class="card w-100 p-5 bg-secondary bg-opacity-10 blur-card text-success">
                <div class="title text-center">
                    <div class="h1 fw-bolder">User #<%= user.id %></div>
                    <div class="h4">User ID : <%= user.username %> </div>
                    <div class="h4">Email : <%= user.email %></div>
                    <div class="h4">Role : <%= user.user_role %></div>
                    <div class="h4">Contact no. : "<%= user.mobile_number %>"</div>
                </div>
                <form action="/api/delete-user/<%= user.id %>" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                    <a href="/edit-user/<%= user.id %>" class="btn btn-outline-info ">Edit</a>
                </form>
            </div>
        <% }); %> 
      <% } else { %>
        <div class="alert alert-warning w-100 text-center" role="alert">
            No users found!
        </div> 
        <% } %> 
    </div>
</body>
</html>